{:hara/type :project
 :hara/version "1.0.0"
 :project/id hara-native/smoke-answer
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths ["test"]
 :project/extension-paths []
 :project/main hara-native.smoke.answer.main
 :project/recipe "project.receipe.edn"
 :project/capabilities #{}
 :project/dependencies {}}
