{:import/format :hara-native/language-conformance-imports
 :import/version 1
 :import/upstream
 {:repository "hara-lang/hara-specs-registry"
  :revision "e4d704c6dac73e0f5b3bb0018bc1c943bcc5df10"}
 :import/copy-mode :verbatim-reference
 :import/execution-policy :never-execute-imports-directly
 :import/lowering-policy "../lowering-v1.edn"
 :fixtures
 [{:id :reader
   :upstream-path "01-lang/001-language/draft/conformance/reader.edn"
   :local-path "registry/reader.edn"}
  {:id :core
   :upstream-path "01-lang/001-language/draft/conformance/core.edn"
   :local-path "registry/core.edn"}
  {:id :exceptions
   :upstream-path "01-lang/001-language/draft/conformance/exceptions.edn"
   :local-path "registry/exceptions.edn"}
  {:id :modules
   :upstream-path "01-lang/001-language/draft/conformance/modules.edn"
   :local-path "registry/modules.edn"}
  {:id :foundation-surface
   :upstream-path "01-lang/001-language/draft/conformance/foundation.edn"
   :local-path "registry/foundation.edn"}
  {:id :foundation-functions
   :upstream-path "01-lang/001-language/draft/conformance/functions.edn"
   :local-path "registry/functions.edn"}
  {:id :bytecode-vm
   :upstream-path "01-lang/010-bytecode/draft/conformance/bytecode-vm.edn"
   :local-path "registry/bytecode-vm.edn"}
  {:id :bytecode-vm-suspension
   :upstream-path "01-lang/010-bytecode/draft/conformance/bytecode-vm-suspension.edn"
   :local-path "registry/bytecode-vm-suspension.edn"}
  {:id :hbc-golden
   :upstream-path "01-lang/010-bytecode/draft/conformance/hbc0-golden.edn"
   :local-path "registry/hbc0-golden.edn"}
  {:id :hbc-malformed
   :upstream-path "01-lang/010-bytecode/draft/conformance/hbc0-malformed.edn"
   :local-path "registry/hbc0-malformed.edn"}
  {:id :hbx-golden
   :upstream-path "01-lang/010-bytecode/draft/conformance/hbx0-golden.edn"
   :local-path "registry/hbx0-golden.edn"}
  {:id :hbx-malformed
   :upstream-path "01-lang/010-bytecode/draft/conformance/hbx0-malformed.edn"
   :local-path "registry/hbx0-malformed.edn"}
  {:id :harp-archives
   :upstream-path "02-platform/000005-harp/draft/conformance/archives.edn"
   :local-path "registry/harp-archives.edn"}
  {:id :package-catalog
   :upstream-path "02-platform/000006-package/draft/conformance/catalog-admission.edn"
   :local-path "registry/package-catalog-admission.edn"}
  {:id :package-coordinates
   :upstream-path "02-platform/000006-package/draft/conformance/coordinates.edn"
   :local-path "registry/package-coordinates.edn"}
  {:id :package-projects
   :upstream-path "02-platform/000006-package/draft/conformance/projects.edn"
   :local-path "registry/package-projects.edn"}
  {:id :package-releases
   :upstream-path "02-platform/000006-package/draft/conformance/releases.edn"
   :local-path "registry/package-releases.edn"}
  {:id :transport-hta
   :upstream-path "02-platform/000050-transport-hta/draft/conformance/transport-hta.edn"
   :local-path "registry/transport-hta.edn"}]}
